*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{
    outline:none;
}
a:focus, a:active{
    outline:none;
}
nav,footer,header,aside{
    display: block;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li{
    list-style: none;   
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit; font-weight: 400;
}
body {
    background-color: #3a302a;
    font-family: "Roboto", system-ui;
    font-size: 20px;
}

/*main style*/

header{
    background-color: #877c73;
    height: 50px;
}
header > ul > li{
    color: white;
    display: inline-flex;
    font-size: 18px;
}
header > ul{
    float: right;

}
a{
    color: white;
    text-decoration: underline;
}

header > span{
    padding-top: 5px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin: 0 0 0 0;
}

h2{
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_task, .HUD{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main_task > table{
    width: 50%; 
    text-align: center; 
    border: 1px solid; 
    margin-top: 2%; 
    border-collapse: collapse; 
    background-color: white;
}

.HUD{
    padding-top: 2%;
}

input, button {
    text-align: center;
    border: 1px solid;
    margin: 1px 1px;
    display: table-cell;
    width: 65px;
}
td {
    border: 2px solid;
}

td > div{
    aspect-ratio: 1/1;
}

#start{
    background-color: greenyellow;
}
#finish{
    background-color: red;
}
#obstacle{
    background-color: black;
}
#path{
    background-color: blue;
}
#blank{
    background-color: white;
}




/*
.article {
    height: 50px;
    width: 100%;
    background-color: #1d2324;
    color: #fff;
}
.article > h1 {
    margin-left: 20px;
    text-align: left;
    width: 100%;
}
.base_task {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: -10%;
    background-color: black;
}
*/